#user_section
  #center_user
    = render '/people/partials/person_large', :person => @user.me
  #surrounding_users
    - @user.me.relationships.each do |relationship|
      = render '/people/partials/person_small', :person => relationship.related_person, :relationship => relationship
    - @user.me.reverse_relationships.each do |relationship|
      = render '/people/partials/person_small', :person => relationship.person, :relationship => relationship
      
  