#user_section
  #center_user
    = render '/people/partials/person_large', :person => @person
  #surrounding_users
    - @person.relationships.each do |relationship|
      = render '/people/partials/person_small', :person => relationship.related_person, :relationship => relationship
    - @person.reverse_relationships.each do |relationship|
      = render '/people/partials/person_small', :person => relationship.person, :relationship => relationship