body {
  background:#fff;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding:0;
   margin:0;
}

.container {
  margin:0 auto;
  position:relative;
  width:940px;
  text-align:center;
}

h1 {
  font-weight:300;
  font-size:30px;
  color:#444;
  margin:10px 0 10px;
}

h2 {
  margin:4px 0 0;
  font-weight:200;
  font-size:20px;
  color:#999;
}

a{
  color:#444;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

a strong {
  font-weight:400px;
  color:#333;
}

a.silent {
  color:#888;
}

a.silent strong {
  font-weight:400px;
  color:#999;
}

#header_logo {
  width:276px;
  height:106px;
  margin:0 auto;
}

#home_graphic {
  margin:10px auto 0;
  height:310px;
  width:635px;
  background:url(/assets/home_graphic.png) top left no-repeat;
}

button {
  border:none;
  background:none;
}

a.logo {
  margin-left:-2px;
  display:block;
  width:276px;
  height:106px;
  background:url(/assets/logo.png) top left no-repeat;
}

a.signup_button {
  margin:0 auto 5px;
  background:url(/assets/start_tree_button.png) 0 0 no-repeat;
  width:442px;
  height:90px;
  display:block;
}

a.signup_button:hover {
  background:url(/assets/start_tree_button.png) 0 -87px no-repeat;
}

.login_button {
  margin:0 auto 5px;
  background:url(/assets/login_button.png) 0 0 no-repeat;
  width:391px;
  height:77px;
  display:block;
}

.login_button:hover {
  background:url(/assets/login_button.png) 0 -77px no-repeat;
}

.signup_button {
  margin:0 auto 5px;
  background:url(/assets/signup_now_button.png) 0 0 no-repeat;
  width:391px;
  height:77px;
  display:block;
}

.signup_button:hover {
  background:url(/assets/signup_now_button.png) 0 -77px no-repeat;
}

input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: auto;
  width: 375px;
  margin-bottom: 0;
  background-color: #e5e5e5;
  border:1px solid #d5d5d5;
  padding-left: 10px;
  line-height: 30px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 1px 1px white;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 1px 1px #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 1px 1px white;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  line-height:38px;
  font-size:20px;
  color:#BE1E2D;
}

input:focus {
 background-color:#fff; 
}

ul#errors {
  margin:10px auto;
  padding:0;
  list-style:none;
  color:#BE1E2D;
}
ul#errors li{
 font-size:12px;
 margin-bottom:4px; 
}

.flash {
  background: #E5E5E5;
  padding: 10px;
  border-radius: 6px;
}

// Header Bar
#header_bar{
}

#header_bar a {
  display:block;
  display:inline-block;
  padding:18px 20px;
  color:#aaa;
  background:#f2f2f2;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

#header_bar a.logo_small {
  display:block;
  vertical-align:top;
  padding:0;
  display:inline-block;
  width:149px;
  height:54px;
  background:#f2f2f2 url(/assets/logo_small.png) top left no-repeat;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
//Sections



#user_section {
  position:relative;
}

#center_user {
  width:220px;
  position:absolute;
  top:190px;
  left:360px;
}

#surrounding_users {
  margin-left:10px;
  position:absolute;
  top:10px;
  left:160px;
}
//People

.person {
  text-align:center;
  text-shadow:0 1px 2px white;
}

.person.large {
  margin:0 auto;
  width:220px;
}

.person.small {
  margin:0 auto;
  width:120px;
}

.person .name {
  padding:8px 0 3px;
  font-weight:400;
  font-size:20px;
  color:#444;
}

.person.small .name {
  padding:3px 0 1px;
  font-size:14px;
  border-bottom:none;
}

.person .relationship_type {
  padding:2px 0 1px;
  font-size:12px;
}

.person .relationship_type.female {
  color:#A44B9C;
}

.person .relationship_type.male {
  color:#27A9E1;
}

.person .born {
  padding:0 0 3px;
  font-weight:300;
  font-size:13px;
  color:#bbb;
}

.person.small .born {
  font-size:11px;
}

.image-wrap{
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  position:relative; 
  display:inline-block;
  -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.75), inset 0px 0px 6px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 6px rgba(50, 50, 50, 0.75), inset 0px 0px 6px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 6px rgba(50, 50, 50, 0.75), inset 0px 0px 6px rgba(50, 50, 50, 0.75);
}

.image-wrap.small {
  border: 5px solid #fff;
  width: 100px; 
  height: 100px;
}

.image-wrap.large {
  border: 10px solid #fff;
  width: 200px; 
  height: 200px;
}

.person .add_person a{
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  padding:5px;
  background:#eee;
  color:#fff;
  text-shadow:none;
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  width:20px;
  height:20px;
  z-index:100;
}

.person .add_person a:hover {
  background:#88CC75;
  text-decoration:none;
}

.person .remove_person a{
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  padding:5px;
  background:#eee;
  color:#fff;
  text-shadow:none;
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:20px;
  height:20px;
  z-index:100;
}

.person .remove_person a:hover {
  background:#CC7575;
  text-decoration:none;
}

.person.small .add_person a{
  top:40px;
  right:-35px;
}

.person.small .remove_person a{
  top:40px;
  left:-35px;
}

// Styles
.clr_flt {
  clear:both;
  height:0;
  width:0;
}
